/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
 .navbar {
   background-color: #000000;
 }

 .navbar a {
   color: #FFFFFF;
   font-weight: 600;
   font-size: 1.5em;
 }

footer {
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

footer li, p {
  font-size: 1em;
}

footer h1 {
  padding-bottom: 3vh;
}
.footer-top-div {
  background-color: #212121;
  height: 25vh;
}

.footer-top-div li {
  list-style-type: none;
  line-height: 2;
}

.footer-top-div p {
  text-align: left;
  line-height: 2;
  padding-left: 5vw;
}

.footer-bottom-div {
  background-color: #000000;
  height: 10vh;
}

.footer-links li {
  display: inline-block;
  line-height: 10vh;
}

.footer-bottom-div p {
  line-height: 10vh;
}
