<footer>
  <div class="footer-top-div row">

  <div class="col-md-4 col-sm-6 col-xs-6">
    <h1 class="footer-heading">Website info</h1>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <h1 class="footer-heading">Keep Connected</h1>

    <ul>
      <li>Like me on Facebook</li>
      <li>Follow me on Twitter</li>
      <li>Connect with me on LinkedIn
  </div>

  <div class="col-md-4 col-sm-6 col-xs-6">
    <h1 class="footer-heading">Contact Information</h1>

    <ul>
      <li>0449574574</li>
      <li>contact@example.com.au</li>
    </ul>
  </div>
</div>

  <div class="footer-bottom-div row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <p>&copy; 2016 Ellsmore Creations Pty Ltd | Designed by Chris Ellsmore</p>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12">
      <ul class="footer-links">
        <li>Home |</li>
        <li>Privacy |</li>
        <li>Terms and Conditions</li>
      </ul>
    </div>
  </div>
</footer>
